*.log
*.err
*.out
*.png
*.prof
*.xlsx
*.zip
*.txt
*.sub
*.sh
*.swp
*.pth
*.json
*.pth
*.slurm
test_cuda.py
test_mpi4py.py
test.py
short_mpi.py
neat-python/
modular_codebase/
no_svi_run/
small-prod/
pytorch/
__pycache__/
dummy_profile.sh
app.sh
profile.sh
make_json.py
neat_checkpoints/
pytorch/
pytorch/
winner_genomes/
126_results/
checkpoints/
tools/

# Ignore all loops*.py files
loops*.py
svi_loops*.py
main*.py
edit_checkpoint.py
config-feedforward-test2
inspect_checkpoint.py
old_main.py
test2main.py
test_predictive_main.py
find_import_origins.py
generate_import_test.py
get-pip.py
mpi_testing.py
recycle_data_loops.py
recycle_summary.json.tmp
svi_main_test1.py
test_all_imports.py
test_bnn.py
emotion_rate.py
working_memory_script.py
mainirrelevant.py

# But keep these specific ones
!loops.py
!svi_loops.py
!main.py

