*.log
*.err
*.out
*.png
*.prof
*.xlsx
*.zip
*.txt
*.sub
*.sh
*.swp
*.pth
*.json
*.pth
*.slurm
test_cuda.py
test_mpi4py.py
test.py
short_mpi.py
neat-python/
modular_codebase/
no_svi_run/
small-prod/
pytorch/
__pycache__/
dummy_profile.sh
app.sh
profile.sh
make_json.py
neat_checkpoints/
pytorch/
pytorch/
winner_genomes/
126_results/
checkpoints/
